@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
    background-image: url(./images/bg4.jpg) ;
    position: relative;
    margin-top: 110px;
}
.hoverEffect:hover {
    color: cyan;
}